<!DOCTYPE html>
<html>
  <head>
          <h2>
            <p> Weather App in NodeJS using Open Weather API </p>
          <br> 
          </br>
          
              <form.form-inline(method="post", action="weather")></form.form-inline>
                .form-group
                  <label(for="inputEmail") City Name></label>
                  <input( name="city" type="text" placeholder="Enter City Name" required='required')></input> <br></br>
                 <input type="text" button.btn.btn-primary(type="submit") Fetch Weather>
              
           
        </form>
          </h2> 
    
  </body>
</html>
